<h1>Editing Academic Plan</h1>

<%= render 'form', academic_plan: @academic_plan %>

<%= link_to 'Show', student_academic_plan_path(@student, @academic_plan) %> |
<%= link_to 'Back', student_academic_plans_path %>
